---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/default.astro";

const title = "Log in";
const description = "access the webpage with your credentials";

/* Check if the user is authenticated */
const auth = getAuth(app);
if (Astro.cookies.has("session")) {
    const sessionCookie = Astro.cookies.get("session").value;
    const decodedCookie = await auth.verifySessionCookie(sessionCookie);
    if (decodedCookie) {
        return Astro.redirect("/dashboard");
    }
}
---

<Layout content={{ title, description }}>
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold mb-4">Sign in</h1>
        <p class="mb-4">
            New here? <a href="/register" class="text-blue-500"
                >Create an account</a
            >
        </p>
        <form action="/api/auth/signin" method="post" class="text-center">
            <label for="email" class="block font-semibold mb-2">Email</label>
            <input
                type="email"
                name="email"
                id="email"
                class="border rounded-md px-2 py-1 my-2"
            />
            <label for="password" class="block font-semibold mb-2"
                >Password</label
            >
            <input
                type="password"
                name="password"
                id="password"
                class="border rounded-md px-2 py-1 my-2"
            />
            <div class="mt-2">
                <button
                    type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mt-2"
                    >Login</button
                >
            </div>
        </form>
        <div class="mt-2">
            <button
                id="google"
                class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600"
                >Sign in with Google</button
            >
        </div>
    </div>
</Layout>
<script>
    import {
        getAuth,
        inMemoryPersistence,
        signInWithEmailAndPassword,
        GoogleAuthProvider,
        signInWithPopup,
    } from "firebase/auth";
    import { app } from "../firebase/client";

    const auth = getAuth(app);
    auth.setPersistence(inMemoryPersistence);

    const form = document.querySelector("form") as HTMLFormElement;
    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const email = formData.get("email")?.toString();
        const password = formData.get("password")?.toString();

        if (!email || !password) {
            return;
        }
        const userCredential = await signInWithEmailAndPassword(
            auth,
            email,
            password,
        );
        const idToken = await userCredential.user.getIdToken();
        const response = await fetch("/api/auth/signin", {
            headers: {
                Authorization: `Bearer ${idToken}`,
            },
        });

        if (response.redirected) {
            window.location.assign(response.url);
        }
    });

    const googleSignin = document.querySelector("#google") as HTMLButtonElement;
    googleSignin.addEventListener("click", async () => {
        const provider = new GoogleAuthProvider();
        const userCredential = await signInWithPopup(auth, provider);
        const idToken = await userCredential.user.getIdToken();
        const res = await fetch("/api/auth/signin", {
            headers: {
                Authorization: `Bearer ${idToken}`,
            },
        });

        if (res.redirected) {
            window.location.assign(res.url);
        }
    });
</script>
